<style>
    .center-card {
        position: relative;
        margin: 0;
    }
</style>

<md-content layout="column" layout-fill>

    <!-- Toolbar -->
    <my-toolbar config="toolbar" file="dir"></my-toolbar>

    <!-- Password Change -->
    <md-card class="md-whiteframe-4dp">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Change Password</span>
                <span class="md-subhead">Change the password of your account</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <md-input-container>
                <label>Old Password</label>
                <input type="password" ng-model="password.old">
            </md-input-container>

            <md-input-container>
                <label>New Password</label>
                <input type="password" ng-model="password.new">
            </md-input-container>
            <md-button class="md-raised md-warn" ng-click="password.change()">Change</md-button>
            <md-progress-circular ng-if="password.loading" class="md-hue-2" md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
        </md-card-content>
    </md-card>

    <!-- Change user image -->
    <md-card class="md-whiteframe-12dp">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Change Image</span>
                <span class="md-subhead">Change the image of your account</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>

        </md-card-content>
    </md-card>

    <!-- Sessions management -->
    <md-card class="md-whiteframe-12dp">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Account Sessions</span>
                <span class="md-subhead">Manage the sessions of your account</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-subheader class="md-primary" style="background-color: #eee;">
                <span flex>Device Agent</span>
                <span>Unauthorize</span>
            </md-subheader>
            <md-content style="height: 500px;">
                <md-list>
                    <md-list-item ng-repeat="session in account.sessions">
                        <span flex>{{session.userAgent}} - {{session.lastUse}}</span>
                        <md-button class="md-icon-button" ng-click="disableSession(session)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-card-content>
    </md-card>

</md-content>