<md-dialog style="max-width: 80%; max-height: 80%">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-title>{{::file.name}} - Preview</md-title>
            <span flex></span>
            <md-button ng-click="close()" class="md-icon-button">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content  layout="row" layout-align="center center">
        <preview file="file" links="links"></preview>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="close()">Close</md-button>
        <md-button ng-href="{{::links.raw}}" class="md-primary">Download</md-button>
    </md-dialog-actions>
</md-dialog>