.main-content {
    background: #eee;
}

.no-padding {
    padding: 0px !important;
}
    
// .selected-file {
//     background-color: #267ED5 !important;
// }
    
.sort:after {
    content: '\25b2';
}
    
.sort.reverse:after {
    content: '\25bc';
}