<md-content ng-switch on="::kind">
    <music-preview ng-switch-when="audio" file="file" links="links"></music-preview>
    <image-preview ng-switch-when="image" file="file" links="links"></image-preview>
    <video-preview ng-switch-when="video" file="file" links="links"></video-preview>
    <pdf-preview ng-switch-when="pdf" file="file" links="links"></music-preview>
    <md-content ng-switch-default>
        <p>Preview not available</p>
        <md-button ng-href="{{::links.raw}}">Download</md-button>
    </md-content>
</md-content>