<md-content layout="column" layout-fill flex>

    <!-- Toolbar -->
    <md-subheader class="md-primary">
        <form layout-padding layout="row" ng-submit="FilterCtrl.go()">
            <md-input-container class="md-block">
                <label>Kind</label>
                <md-select ng-model="FilterCtrl.search.kind" ng-change="FilterCtrl.go()">
                    <md-option value="any">All</md-option>
                    <md-option value="audio">Songs</md-option>
                    <md-option value="image">Images</md-option>
                    <md-option value="video">Videos</md-option>
                    <md-option value="pdf">Documents</md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>Search</label>
                <input ng-model="FilterCtrl.search.keyword">
            </md-input-container>

            <md-button ng-click="FilterCtrl.go()" class="md-icon-button">
                <md-tooltip>Go!</md-tooltip>
                <md-icon>search</md-icon>
            </md-button>
        </form>
        <md-title ng-show="FilterCtrl.res.length > 0">Results ({{FilterCtrl.res.length}})</md-title>
    </md-subheader>

    <file-list ng-if="FilterCtrl.res.length > 0" files="FilterCtrl.res" layout="column" flex></file-list>


    <md-card ng-if="FilterCtrl.res.length <= 0">
        <md-toolbar class="md-toolbar-tools">
            <md-title>I'm sorry but...</md-title>
        </md-toolbar>
        <md-card-content>
            <p>No files match the selected filter. Try with another keyword!</p>
        </md-card-content>
    </md-card>
</md-content>