<md-content layout="column">

    <md-content ng-show="ShareCtrl.share.files.length <= 0">

        <md-card>
            <md-toolbar>
                <md-title class="md-toolbar-tools">No Shared Files</md-title>
            </md-toolbar>

            <md-card-content>
                <p>You haven't shared any file yet. Go to the file list or find something with the search tool ad press the 'Share' Button. This will create an unique url that anyone can open!</p>
            </md-card-content>
        </md-card>

    </md-content>

    <md-subheader ng-hide="ShareCtrl.share.files.length <= 0" class="md-primary" style="background-color: #eee;">
        <div layout="row">
            <div flex="10"></div>
            <div flex="grow">
                <span>File Name</span>
            </div>
            <div flex="10">
                <span>Link</span>
            </div>
            <div flex="10" hide show-gt-sm>
                <span>Unshare</span>
            </div>
            <div flex="10" hide show-gt-sm>
                <span>Find</span>
            </div>
        </div>
    </md-subheader>
    <md-content>
        <md-list>
            <md-list-item layout-padding ng-repeat="file in ShareCtrl.share.files" layout="row">
                <div flex="10">
                    <md-icon>{{::file | iconFilter}}</md-icon>
                </div>
                <span flex="grow" class="short-text">{{::file.name}}</span>
                <div flex="10">
                    <md-button ng-click="ShareCtrl.getPublicLink(file)" class="md-icon-button">
                        <md-icon>share</md-icon>
                        <md-tooltip>Share</md-tooltip>
                    </md-button>
                </div>
                <div flex="10" hide show-gt-sm>
                    <md-button ng-click="ShareCtrl.unshare(file, $event)" class="md-icon-button">
                        <md-icon>lock</md-icon>
                        <md-tooltip>Unshare</md-tooltip>
                    </md-button>
                </div>
                <div flex="10" hide show-gt-sm>
                    <md-button ng-click="ShareCtrl.show(file)" class="md-icon-button">
                        <md-icon>pageview</md-icon>
                        <md-tooltip>Show file</md-tooltip>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>