.my-sidenav {
    background: #0288D1 !important;
    background-repeat: no-repeat;
    background-position: center;
}

.active {
    background-color: #267ED5 !important;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}