<!-- Toolbar -->
<md-toolbar ng-show="showToolbar" class="md-toolbar-tools">
    
    <!-- Button to open the sidenav in small display -->
    <md-button hide-gt-sm class="md-icon-button" ng-click="toggleSidenav()">
        <md-icon>menu</md-icon>
    </md-button>

    <!-- Title -->
    <md-title ng-switch="title.mode" flex>
        <path-pwd ng-switch-when="pwd" path="currentFile.getPath()"></path-pwd>
        <span ng-switch-when="title">{{title.str}}</span>
    </md-title>

    <!-- Download button -->
    <md-button ng-show="download" ng-href="{{download.url}}" download="{{download.name}}" class="md-icon-button">
        <md-tooltip>Download {{config.download.name}}</md-tooltip>
        <md-icon>file_download</md-icon>
    </md-button>

    <!-- All the other tools -->
    <md-button ng-repeat="tool in tools" ng-show="showTools && tool.show()" ng-click="tool.action()" class="md-icon-button" hide show-gt-sm>
        <md-tooltip>{{tool.tooltip}}</md-tooltip>
        <md-icon>{{tool.icon}}</md-icon>
    </md-button>

    <!-- Search button link -->
    <md-button href="#/search/any/" ng-show="showSearchLink" class="md-icon-button" show-gt-sm>
        <md-tooltip>Search</md-tooltip>
        <md-icon>search</md-icon>
    </md-button>

    <!-- Menu for small display -->
    <md-menu>
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" hide-gt-sm>
            <md-icon>more_vert</md-icon>
        </md-button>

        <md-menu-content width="4">
            <!-- TODO: find a better way to not copy so much code -->

            <!-- Download button -->
            <md-menu-item ng-if="downloadUrl">
                <md-button ng-href="{{downloadUrl}}" download>
                    <md-icon>file_download</md-icon>
                    <span>Download</span>
                </md-button>
            </md-menu-item>

            <!-- Tools -->
            <md-menu-item ng-repeat="tool in tools" ng-if="tool.show()">
                <md-button ng-click="tool.action()">
                    <md-tooltip>{{tool.tooltip}}</md-tooltip>
                    <md-icon>{{tool.icon}}</md-icon>
                    {{tool.tooltip}}
                </md-button>
            </md-menu-item>

            <md-menu-item ng-if="showSearchLink">
                <!-- Search button link -->
                <md-button href="#/search/any/">
                    <md-tooltip>Search</md-tooltip>
                    <md-icon>search</md-icon>
                    <span>Search</span>
                </md-button>
            </md-menu-item>

        </md-menu-content>
    </md-menu>

</md-toolbar>