<style type="text/css">
    
</style>
<md-content layout="column" layout-fill>

    <!-- Toolbar -->
    <my-toolbar config="toolbar"></my-toolbar>
    <md-subheader class="md-primary">
    <md-content layout-padding layout="row">
        <md-input-container class="md-block">
            <label>Kind</label>
            <md-select ng-model="user.state">
                <md-option value="all">All</md-option>
                <md-option value="music">Music</md-option>
                <md-option value="Piwi">Photos</md-option>
                <md-option value="Piwi">Documents</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container flex>
            <label>Search</label>
            <input>
        </md-input-container>
        
        <md-button class="md-icon-button">
            <md-tooltip>Go!</md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </md-content>
    </md-subheader>
    <md-content ng-if="res.length > 0">
        <file-list files="res" clipboard="clipboard"></file-list>
    </md-content>
    <md-content ng-if="res.length <= 0">
        Nessun risultato
    </md-content>
</md-content>