<md-content layout="column" layout-fill>
    <!-- Toolbar -->
    <my-toolbar config="toolbar" file="dir"></my-toolbar>

    <!-- Main content of the view -->
    <md-content>
        <md-list>
            <md-list-item ng-repeat="file in share.files">
                <span>{{file.getName()}}</span>
                <md-button ng.click="unshare(file, e)" class="md-icon-button">
                    <md-icon>lock</md-icon>
                    <md-tooltip>Unshare</md-tooltip>
                </md-button>
                <md-button ng-click="show(file)" class="md-icon-button">
                    <md-icon>pageview</md-icon>
                    <md-tooltip>Show file</md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>