<style>
    .fab-box {
        position: absolute;
        right: 25px;
        bottom: 15px;
        list-style-type: none;
    }
</style>

<md-content layout="column" layout-fill>

    <!-- Toolbar -->
    <my-toolbar config="toolbar" file="dir"></my-toolbar>

    <!-- Main content of the view -->
    <md-content>
        <file-list files="dir.children" clipboard="clipboard"></file-list>
    </md-content>

    <!-- Fabs -->
    <ul class="fab-box">
        <!-- Paste -->
        <li ng-if="clipboard.getHoldFiles().length > 0">
            <md-button ng-click="paste()" aria-label="menu" class="md-fab md-warn">
                <md-tooltip md-direction="left">Paste</md-tooltip>
                <md-icon>content_paste</md-icon>
            </md-button>
        </li>
        <li>
            <!-- New Folder -->
            <md-button aria-label="menu" class="md-fab md-warn" ng-click="newFolder($event)">
                <md-tooltip md-direction="down">Create New Folder</md-tooltip>
                <md-icon>create_new_folder</md-icon>
            </md-button>
        </li>
        </li>
</md-content>

<!--
<md-button aria-label="New Folder" class="md-fab md-raised md-mini" ng-click="newFolder($event)">
                        <md-tooltip md-direction="down">New Folder</md-tooltip>
                        <md-icon>create_new_folder</md-icon>
                    </md-button>
                    <md-button aria-label="New Folder" class="md-fab md-raised md-mini" ngf-select="uploadFiles($files, $invalidFiles)" multiple>
                        <md-tooltip md-direction="down">Upload File</md-tooltip>
                        <md-icon>file_upload</md-icon>
                    </md-button>
                    -->