<style>
    .center {
        margin: 0 auto;
    }
</style>

<md-content layout="row" layout-fill flex>
    
    <!-- Sidenav -->
    <!-- I know that this should be in the sidenav.html, but if i put it here, i am
    not able to keep the same graphical layout -->
    <my-sidenav config="sidenav" layout-wrap layout></my-sidenav>

    <!-- Main content -->
    <md-content ng-if="connection.state != 'pending'" ui-view="main" flex layout-fill></md-content>

    <md-content ng-if="connection.state == 'pending'" >
        <md-progress-circular flex class="center md-primary md-hue-3" md-mode="indeterminate" md-diameter="128"></md-progress-circular>
        <h2>Connecting to your Storage</h2>
    </md-content>
</md-content>