<style type="text/css">
    
</style>
<md-content layout="column" layout-fill>

    <!-- Toolbar -->
    <my-toolbar config="toolbar"></my-toolbar>
    <md-subheader class="md-primary">
    <md-content layout-padding layout="row">
        <md-input-container class="md-block">
            <label>Kind</label>
            <md-select ng-model="search.kind" ng-change="go()">
                <md-option value="any">All</md-option>
                <md-option value="audio">Songs</md-option>
                <md-option value="image">Images</md-option>
                <md-option value="video">Videos</md-option>
                <md-option value="pdf">Documents</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container flex>
            <label>Search</label>
            <input ng-model="search.keyword">
        </md-input-container>
        
        <md-button ng-click="go()" class="md-icon-button">
            <md-tooltip>Go!</md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </md-content>
    <md-title>Results</md-title>
    </md-subheader>
    <md-content ng-if="res.length > 0">
        <file-list files="res" clipboard="clipboard"></file-list>
    </md-content>
    <md-content ng-if="res.length <= 0" layout-padding>
        Nessun risultato
    </md-content>
</md-content>