<style>
    .error-main {
        background-color: #eee;
        text-align: center;
    }
    
    .error-card {
        background-color: #F54A40;
        color: white;
    }
</style>
<md-card class="error-card">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <md-button hide-gt-sm ng-click="toggleSidenav()" class="md-icon-button">
                <md-icon>menu</md-icon>
            </md-button>
            <h2>Error</h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <p></p>Go to GoBox Home page and download the Client software if you haven't already done</p>
        <p>If you want to change your pssword, you can go to the settings page even if there's this error, just use the left sidenav as usual</p>
    </md-card-content>
</md-card>