<style type="text/css">
    .my-sidenav {
        background-image: url('images/sidenav-background.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .active {
        border: 10px solid black;
    }
</style>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-sm')" layoutlayout-fill flex>
    <md-toolbar class="md-toolbar-tools md-tall my-sidenav">
        <div layout="column">
            <img ng-src="{{ '/api/user/image/' + config.user.getUsername() }}" width="64px" height="64px">
            <div layout="row">
                <p>{{config.user.getUsername()}}</p>
            </div>
        </div>
        <md-menu>
            <md-button class="sidenav-more md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="item in config.menuItems">
                    <md-button>
                        <md-icon>{{item.icon}}</md-icon>
                        {{item.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item ng-repeat="link in config.links" ng-href="{{link.link}}"  ui-sref-active='active' ui-sref="{{link.state}}">
                <md-icon>{{link.icon}}</md-icon>
                <p>{{link.name}}</p>
                <md-divider ng-if="link.divider"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <span flex layout-fill></span>
    <md-divider></md-divider>
    <upload-box config="upload"></upload-box>
</md-sidenav>