<md-dialog style="min-width: 50%;">
    <md-toolbar class="md-toolbar-tools">
        <span>Uploads</span>
        <span flex></span>
        <md-button ng-click="close()" class="md-icon-button">
            <md-tooltip>Close</md-tooltip>
            <md-icon>close</md-icon>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <!-- Md content with the list -->

        <md-content ng-if="uploads.length > 0" layout-padding>
            <md-list>
                <md-list-item layout="column" ng-repeat="upload in uploads" layout-padding>
                    <span flex layout-fill>
                        <md-icon>{{upload.file | iconFilter}}</md-icon>
                        {{upload.file.name}}
                        <span flex layout-fill></span>
                    </span>
                    <md-progress-linear ng-if="!isNaN(upload.state)" md-mode="determinate" value="{{upload.state}}"></md-progress-linear>
                    <p ng-if="isNaN(upload.state)">{{upload.state}}</p>
                </md-list-item>
            </md-list>
        </md-content>


        <!-- Md content with the message -->
        <md-content ng-if="uploads.length <= 0" layout-padding>
            <p>No uploads in queue!</p>
            <p>Use the button to upload a new file!</p>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ngf-select="uploadFile($files, $invalidFiles)" class="md-raised md-primary" multiple>Upload File</md-button>
    </md-dialog-actions>
</md-dialog>