<style>
    .dragover {
        border: 5px dashed blue;
    }
</style>

<md-dialog style="min-width: 50%;">
    <md-toolbar class="md-toolbar-tools">
        <span>Uploads</span>
        <span flex></span>
        <md-button ng-click="close()" class="md-icon-button">
            <md-tooltip>Close</md-tooltip>
            <md-icon>close</md-icon>
        </md-button>
    </md-toolbar>
    <md-dialog-content ngf-drop="uploadFile($files)" ngf-multiple="true" ngf-allow-dir="true" ngf-drag-over-class="'dragover'">

        <!-- Md content with the list -->
        <md-list ng-if="uploads.length > 0" layout-upload>
            <md-list-item layout-padding ng-repeat="upload in uploads" layout="column" layout-align="center space-between">
                <div layout="row">

                    <!-- Icon -->
                    <div flex="10">
                        <md-icon>file_upload</md-icon>
                    </div>

                    <!-- Nome of the uplading file -->
                    <div flex="grow">
                        {{upload.file.name}}
                    </div>

                    <!-- Close icon button -->
                    <div ng-if="upload.pending" layout="row" layout-align="center center" ng-click="cancel(upload)" flex="10">
                        <md-icon>close</md-icon>
                    </div>
                </div>

                <!-- Progress bar -->
                <md-progress-linear md-mode="determinate" value="{{upload.percentage}}"></md-progress-linear>

                <!-- Result text -->
                <div ng-if="!upload.pending">
                    <span ng-if="upload.uploaded">Completed</span>
                    <span ng-if="upload.error">Failed</span>
                </div>
            </md-list-item>
        </md-list>


        <!-- Md content with the message -->
        <md-content ng-if="uploads.length <= 0" layout-padding>
            <p>No uploads in queue!</p>
            <p>Use the button or drap here a file!</p>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ngf-select="uploadFile($files)" class="md-raised md-primary" multiple>Upload File</md-button>
    </md-dialog-actions>
</md-dialog>