
<md-content layout="column" flex scroll-listener on-scroll-end="onPageEnd()">
    <md-content ng-show="events.length <= 0">
        <md-card>
            <md-toolbar>
                <md-title class="md-toolbar-tools">No recent files</md-title>
            </md-toolbar>

            <md-card-content>
                <p>It seems that you haven't open any files!</p>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content ng-show="events.length > 0" layout="column" flex>

        <md-subheader class="md-primary" style="background-color: #eee;">
            <div layout="row">
                <div flex="10"></div>
                <div flex="20">Event</div>
                <div flex="40">File Name</div>
                <div flex="20">Date</div>
                <div flex="10">Find</div>
            </div>
        </md-subheader>
        <md-content layout-padding flex layout-margin>
            <md-list>
                <md-list-item ng-repeat="event in events" layout="row">
                    <div flex="10">
                        <md-icon>{{alias[event.kind].icon}}</mdicon>
                    </div>
                    <div flex="20">{{alias[event.kind].name}}</div>
                    <div flex="40">{{event.file.name}}</div>
                    <div flex="20">{{event.date | date}}</div>
                    <div flex="10">
                        <md-button ng-click="show(event.file)" class="md-icon-button">
                            <md-icon>pageview</md-icon>
                            <md-tooltip>Show file</md-tooltip>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</md-content>