<md-content layout="column" flex >
    
    <md-content flex ng-if="!RecentCtrl.events" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="64"></md-progress-circular>
    </md-content>
    
    <md-content ng-if="RecentCtrl.events.length <= 0">
        <md-card>
            <md-toolbar>
                <md-title class="md-toolbar-tools">No recent files</md-title>
            </md-toolbar>

            <md-card-content>
                <p>It seems that you haven't open any files!</p>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content ng-if="RecentCtrl.events.length > 0" layout="column" flex>

        <md-content flex on-scroll-end="RecentCtrl.getEvents()">
            <md-subheader class="md-primary" style="background-color: #eee;">
                <div layout="row">
                    <div flex="10"></div>
                    <div flex="15" hide show-gt-sm>Event</div>
                    <div flex="65">File</div>
                    <div flex="20" hide show-gt-sm>Date</div>
                </div>
            </md-subheader>
        
            <md-list>
                <md-list-item ng-repeat="event in RecentCtrl.events" layout="row">
                    <div flex="10" >
                        <md-icon>{{RecentCtrl.alias[event.kind].icon}}</mdicon>
                    </div>
                    <div flex="15" hide show-gt-sm>{{::RecentCtrl.alias[event.kind].name}}</div>
                    <div flex="65" class="short-text">{{::event.file.name}}</div>
                    <div flex="20" hide show-gt-sm>{{::event.date | date:"MM/dd/yy h:mma"}}</div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</md-content>