<md-content ng-show="files.length <= 0">
    <md-card>
        <md-toolbar>
            <md-title class="md-toolbar-tools">Nofile in the trash</md-title>
        </md-toolbar>

        <md-card-content>
            <p>You trash is empty</p>
        </md-card-content>
    </md-card>
</md-content>

<md-content layout="column" ng-show="files.length > 0" layout-fill>
    <md-subheader class="md-primary" style="background-color: #eee;">
        <div layout="row">
            <div flex="80">File Name</div>
            <div flex="10">Recover</div>
            <div flex="10">Delete</div>
        </div>
    </md-subheader>
    <md-content layout-padding>
        <md-list>
            <md-list-item ng-repeat="file in files">
                <span flex>{{::file.name}}</span>
                <md-button ng-click="recover(file)" class="md-icon-button">
                    <md-icon>undo</md-icon>
                    <md-tooltip>Recover</md-tooltip>
                </md-button>
                <md-button ng-click="delete(file)" class="md-icon-button">
                    <md-icon>delete_forever</md-icon>
                    <md-tooltip>Delete File</md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>

<!-- Fab box -->
<div class="fab-box">
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="emptyTrash()">
        <md-tooltip md-direction="down">Empty trash</md-tooltip>
        <md-icon>delete_sweep</md-icon>
    </md-button>
</div>