<md-content flex ng-if="!TrashCtrl.files" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="64"></md-progress-circular>
</md-content>

<md-content ng-if="TrashCtrl.files.length <= 0">
    <md-card>
        <md-toolbar>
            <md-title class="md-toolbar-tools">No file in the trash</md-title>
        </md-toolbar>

        <md-card-content>
            <p>You trash is empty</p>
        </md-card-content>
    </md-card>
</md-content>
<md-content layout="column" ng-if="TrashCtrl.files.length > 0" flex>
    <md-subheader class="md-primary" style="background-color: #eee;">
        <div layout="row">
            <div flex="80">File Name</div>
            <div flex="10">Recover</div>
            <div flex="10">Delete</div>
        </div>
    </md-subheader>
    <md-list>
        <md-list-item ng-repeat="file in TrashCtrl.files">
            <div flex="80" class="short-text" style="padding-left: 16px;">{{::file.name}}</div>
            <div flex="10">
                <md-button ng-click="TrashCtrl.recover(file)" class="md-icon-button">
                    <md-icon>undo</md-icon>
                    <md-tooltip>Recover</md-tooltip>
                </md-button>
            </div>
            <div flex="10">
                <md-button ng-click="TrashCtrl.delete(file)" class="md-icon-button">
                    <md-icon>delete_forever</md-icon>
                    <md-tooltip>Delete File</md-tooltip>
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</md-content>

<!-- Fab box -->
<div class="fab-box" layout="column" layout-align="end end">
    <md-button aria-label="menu" class="md-fab md-warn" ng-click="TrashCtrl.emptyTrash()">
        <md-tooltip md-direction="down">Empty trash</md-tooltip>
        <md-icon>delete_sweep</md-icon>
    </md-button>
</div>